.login-wrapper {
  display: flex;
  width: 300px;
  height: 100px;
  flex-direction: column;
  position: relative;
}

#login-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-form {
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}

#login-form label {
  margin-left: 5px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  height: 25px;
  position: relative;
}

#login-form input {
  margin-left: 5px;
  width: 210px;
  margin-bottom: 10px;
}
#login-form button {
  width: 30px;
  height: 25px;
  position: absolute;
  top: -4px;
  right: 5px;
}

#after-login {
  flex-direction: column;
  margin-top: 20px;

  #user-id {
    text-align: center;
    font-size: 20px;
  }
  #wellcome-text {
    text-align: center;
    font-size: 20px;
  }
}

#weather {
  justify-content: center;
}
